* {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif !important;
    background-color: #f0f0f7 !important;
}

.header {
    background: url("../images/Artboard.png");
    background-size: cover;
    background-position: center;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-right-button {
    display: flex;
    align-content: center;
}

.header-other-btn {
    padding: 5px 10px;
}

.header-login-btn {
    border: 2px solid white;
    padding: 5px 10px;
    border-radius: 8px;
}

.header-button {
    margin: 0 10px;
}

.header-button a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.header-button a:hover {
    color: white;
}

.logo {
    /*   padding-left: 20px;*/
}

.login {
    padding-top: 1rem !important;
}

.login a {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    margin-left: 2rem;
    border-radius: 8px;
    border: 2px solid white;
}


.icon {
    width: max-content;
    margin: 0 auto;
}

.small button {
    display: none;
    height: 100%;
    min-width: 30px !important;
    transform: translateX(-10px);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.large button {
    display: block;
}

.main-section {
    width: 80% !important;
    min-width: 800px;
    max-width: 100%;
    margin-top: 2rem;
}

.search-box {
    margin-bottom: 10px;
    width: 36%;
    margin-left: 65%;
}

.search-box .input-group {
    height: 40px;
    padding: 0 !important;
}

.search-box .input-group input {
    height: 40px;
    padding: 0 2rem;
    font-style: italic;
    color: #727272;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.search-box .input-group-btn button {
    z-index: 99;
    height: 40px;
    min-width: 150px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.5px;
    background-color: #15BF84;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-right: 0;
}

.search-box .input-group .form-control:focus {
    z-index: 1;
}

.small button {
    display: block;
}

.options-nav {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.option-item {
    padding: 1.5rem 3rem;
    background-color: #DDDBFF;
    opacity: 0.6;
}

.option-item:not(:last-child) {
    border-right: 2px solid #939292;
}

.option-name h4 {
    font-size: 16px;
    color: #10046D;
    font-weight: bolder;
    text-align: center;
}

.active {
    background-color: #15BF84 !important;
    opacity: 1;
    position: relative;
}

.active::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    width: 0px;
    height: 0px;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-top: 15px solid #15BF84;
    border-bottom: 15px solid transparent;
}

.option-details {
    display: grid;
    grid-template-columns: 20% 25% auto;
    background-color: white;
    /* box-shadow: 0px 0px 15px 5px rgba(214, 214, 214, 0.65); */
}


.option-item .icon {
    height: 70px;
}

.option-item .icon img {
    height: 100% !important;
    display: block
}



@media (max-width:975px) {
    .main-section {
        width: 80%;
    }
}

@media (max-width:800px) {
    .header {
        height: 70px;
    }

    .logo {
        padding-left: 10px;
        max-width: 150px;
    }

    .logo img {
        max-width: 100%;

    }

    .main-section {
        width: 100% !important;
        min-width: auto;
        max-width: auto;
        padding-top: 0;
    }

    .search-box {
        margin: 15px auto;
        width: 90%;
    }

    .mobile {
        display: block;
    }

    .container {
        padding: 0 !important;
    }

    .active::after {
        display: none;
    }

    .options-nav {
        grid-template-columns: 25% 25% 25% 25%;
        margin-top: 0;
    }

    .option-item {
        padding: 0.2rem 0;
        height: 70px;
        text-align: center;
    }

    .option-name h4 {
        font-size: 10px;
    }

    .option-name {

        padding-left: 0;
        padding-right: 0;
    }

    .option-item .icon {
        margin-top: 5px;
        height: 30px;
    }

    /*
    .option-item .icon img{
        height: 30px;
        width: 30px;
    }
*/
    .option-details {
        padding: 1rem;
        grid-template-columns: 100%;
        grid-template-rows: 0% 100% 0;

    }
    .main-section {
        margin-top: 0;
    }

    .options-nav {
        margin-bottom: 0;
    }


}



#task{
    background-color: white;
}

.task-header{
    padding: 1rem 2rem;
}

.task-header .status,.search-task{
    display: inline-block;
}


.status{
    background-color:#10046D;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}
.status button{
    width:150px;
    text-align: center;
    padding: .525rem 0 ;
    display: inline-block;
    margin-left:-5px;
    border: 1px solid #10046D;
    background-color: white;
    color: #10046D;
}
.status button:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.status button:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #10046D;
}
.active-task-filter{
    background-color:#10046D !important;
    color:white !important;

}
.search-task{
    display: flex;
    float: right;
    width: 25%;
    position: relative;
}
.search-task input{
/*    border: none;*/
    border: 1px solid #10046D;
    outline: none !important;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
    display: inline-block;
    height: 35px;
    padding: 0 5px;
    font-size: 16px;
}
.search-task .search-task-btn{
/*    position: absolute;*/
/*    right: 0;*/
/*    top:0;*/
/*    width: 30%;*/
}
.search-task-btn button{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
    padding: .26rem 1.2rem;
    height: 35px;
    background-color: #10046D;
    border: none;
    color:white;
    font-size: 16px;
}

.task-list td,th{
    padding-left: 4rem !important;
}
thead{
    background-color:rgb(221, 221, 217);
}
.more-details{
    color:#10046D;

}
tbody>tr:nth-child(2n+1){
    background-color: #f0f0f7 !important;
}
.table-paginator{
    position: relative;
    height: 75px;
    /* float: right; */
    color: #646262
}
.align-right{
    position: absolute;
    top:0;
    right:2rem;
}
.rpp{
    display: inline-block;
    margin-right: 4rem;
}
.rpp h4{
    font-size: 14px;
    display: inline-block;
    margin-right: 2rem;
}
.page-control{
    display: inline-block;
}
.page-control .current-page{
    display: inline-block;
    margin-right: 2rem;
}
.page-prev{
    margin-right: 2rem;
}
.page-next{
    margin-left: 2rem;
}
@media (max-width:600px){
    .task-header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .status{

    }
    .search-task{
        width: 90%;
    }
    .task-header{
    }
    .task-list td,th{
        padding-left: 2rem !important;
    }
}
@media (max-width:500px){
    .task-list td,th{
        padding-left: 1rem !important;
    }
}
